* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}

main {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    margin: 0 5vw;
}

.card {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    gap: 20px;
    background-color: rgb(99, 156, 70);
}

h1,
.card__score {
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
}

.active {
    background-color: rgb(105, 226, 44);
}

.card__score-container {
    margin-top: 7vh;
    background-color: red;
    border-radius: 10px;
    padding: 10% 30%;
    line-height: 4vw;
}

.card__btn-new,
.card__img,
.card__btn-hold,
.card__img-instructions {
    position: absolute;
}

.card__btn-new,
.card__btn-hold {
    border-radius: 10px;
    border: 0;
    background-color: rgba(95, 208, 233, 0.604);
    padding: 5px 10px;
}

.card__img {
    width: 12vw;
    height: 12vw;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__btn-hold {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__img-instructions {
    top: 5px;
    right: 5px;
    width: 20px;
}

.card__btn-new {
    top: 5px;
    left: 5px;
}

.card__info {
    visibility: hidden;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.649);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card__description {
    width: 70vw;
    background-color: rgba(255, 255, 255, 0.782);
    border-radius: 10px;
    line-height: 3em;
}